@{
    ViewBag.Title = "Contact";
    Layout = " ~/Views/Shared/NguoiDung_Layout.cshtml";
}


<div class="container mt-5">
    <h2>Chào mừng đến với Trang Web Bất động sản của chúng tôi</h2>
    <hr />

    <p>
        Xin chào tất cả bạn đang quan tâm và tìm hiểu về thế giới bất động sản! Trang web này được tạo ra như một dự án báo cáo cuối kì của sinh viên, với mục đích tạo một môi trường thực tế để thực hành và trải nghiệm quá trình phát triển ứng dụng web.
    </p>

    <h3>Vì sao chọn trang web Bất động sản của chúng tôi?</h3>
    <p>
        Trang web Bất động sản của chúng tôi không chỉ đơn thuần là một dự án học tập, mà còn là một nền tảng thú vị để bạn khám phá và áp dụng kiến thức về quản lý, tạo và quản lý danh sách các bất động sản.
    </p>

    <h3>Tính năng nổi bật</h3>
    <ul>
        <li>Tạo mới, chỉnh sửa và xóa các bất động sản.</li>
        <li>Tương tác với người dùng khác qua chức năng bình luận và đánh giá.</li>
        <li>Xem danh sách các bất động sản nổi bật và danh sách của riêng bạn.</li>
        <li>Nhận thông báo về các cập nhật mới từ các bất động sản bạn quan tâm.</li>
    </ul>

    <h3>Phản hồi và Góp ý</h3>
    <p>
        Chúng tôi luôn hoan nghênh mọi ý kiến đóng góp và phản hồi từ bạn. Nếu bạn có bất kỳ ý tưởng nào để cải thiện trang web hoặc muốn chia sẻ trải nghiệm của mình, vui lòng liên hệ với chúng tôi qua trang Liên hệ.
    </p>

    <p>
        Cảm ơn bạn đã ghé thăm và ủng hộ trang web Bất động sản của chúng tôi!
    </p>
</div>