
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/NguoiDung_Layout.cshtml";
}

<div class="container mt-5">
    <h2>Không tìm thấy dự án</h2>
    <hr />

    <p>@ViewBag.Message</p>
</div>
